 <div class="container-fluid  bg-primary header fixed-top">
        <div class="row">
            <div class="col">
                <img src="Tutor's Help.png" class="image-fluid rounded-circle " width=80px; height="80px;"> 
            </div>
            <div class="col-5 ">
                <p ><center class="display-4 text-white " id="head" style="font-family:'Times New Roman', Times, serif; opacity:0.9">Tutor'sHelp</center></p>
            </div>
            <div class="col">
            
            </div>
          </div>

    </div>