<!-- NavBar -->
 <div class="container-fluid txt " id="Nav-Box" style="font-size:larger;">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
      <a class="navbar-brand ml-5" href="#">
        <img src="Tutor's Help.png" width="60" height="60" class="rounded-circle align-top" alt="" loading="lazy"></a>
      <a class="navbar-brand ml-2" style="font-family:georgia;" href="studentHome">Tutor's Help</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"  ><a href="studentHome" class="nav-link">Home</a></li>
          <li ><a href="studentprofile" class="nav-link" >Profile</a></li>
          <li><a href="AskedQuesByYou" class="nav-link">Questions</a></li>
          <li><a href="AskQuestion" class="nav-link">Ask Question</a></li>
          <li><a href="Setting" class="nav-link">Settings</a></li>
           <a href="/studentlogout"><button class="btn btn-outline-danger  my-2 my-sm-0  ml-5" >Logout</button></a>
             
          
        </ul>
        </button>
    </nav>
  </div>
  <!-- Navbar closed -->